<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="BlendUpgrade" connectionString="Server=.;initial catalog=BlendUpgrade;User ID=sa;Password=jide2010" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BanksPortBinding" />
        <binding name="BanksMiddleware_PE07EDC00" />
        <binding name="NFPOutwardService_BranchSoap" />
        <binding name="NipWrapperServiceSoap" />
        <binding name="AccountPortBinding" />
        <binding name="BanksMiddleware_PE04RES00" />
        <binding name="Reseller_iTopUp_wsdlBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://154.113.16.142:9999/AccountValidation/validate" binding="basicHttpBinding" bindingConfiguration="BanksPortBinding" contract="ProvidusCBAMiddleware.IBanks" name="BanksPort" />
      <endpoint address="http://192.168.1.245:7001/BanksESB_PE07EDC00/BanksMiddleware_PE07EDC00Port" binding="basicHttpBinding" bindingConfiguration="BanksMiddleware_PE07EDC00" contract="ProvidusPostingService.BanksMiddleware_PE07EDC00" name="BanksMiddleware_PE07EDC00Port" />
      <endpoint address="http://172.16.10.14:88/NipOutward/NFPOutwardService_Branch.asmx" binding="basicHttpBinding" bindingConfiguration="NFPOutwardService_BranchSoap" contract="NFPOutwardService.NFPOutwardService_BranchSoap" name="NFPOutwardService_BranchSoap" />
      <endpoint address="http://192.168.1.231/niptestservice/NipWrapperService.asmx" binding="basicHttpBinding" bindingConfiguration="NipWrapperServiceSoap" contract="NipWrapperService.NipWrapperServiceSoap" name="NipWrapperServiceSoap" />
      <endpoint address="http://154.113.16.142:9999/OnlineAccount/api" binding="basicHttpBinding" bindingConfiguration="AccountPortBinding" contract="OpenAccountService.IAccount" name="AccountPort" />
      <endpoint address="http://192.168.1.245:7001/BanksESB_PA04TDE00/BanksMiddleware_PE04RES00Port" binding="basicHttpBinding" bindingConfiguration="BanksMiddleware_PE04RES00" contract="PNDService.BanksMiddleware_PE04RES00" name="BanksMiddleware_PE04RES00Port" />
      <endpoint address="http://arizonaadmin.mobifinng.com/WebService/iTopUp/reseller_itopup.server.php" binding="basicHttpBinding" bindingConfiguration="Reseller_iTopUp_wsdlBinding" contract="AirtimeTopup.Reseller_iTopUp_wsdlPort" name="Reseller_iTopUp_wsdlPort" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
