<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="BlendUpgrade" connectionString="Server=.;initial catalog=BlendUpgrade;User ID=sa;Password=jide2010" providerName="System.Data.SqlClient" />-->
    <add name="BlendUpgrade" connectionString="Server=.\SQLExpress2014;initial catalog=BlendUpgrade;User ID=sa;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SPayRESTAppId" value="55" />
    <add key="WebServiceAppId" value="51" />
    <add key="Logfile" value="C:\\log" />
    <add key="ApppzoneApiUrl" value="http://173.204.228.252/blendmiddleware/api/{0}/{1}/{2}" />
    <!--<add key="AllowedServices" value="Blend|Test,Zone|Test,Zone|Play2,Blend|User,Blend|AccountValidation" />-->
    <!--<add key="AllowedServices" value="{"blend":["user","test","AccountValidation"],"zone":["play2","test"],"appzonemiddleware":["service"]}" />-->
    <add key="ServiceZipPath" value="C:\Users\RONNIE\Desktop\services.zip" />
    <!--<add key="ServicesFilePath" value="C:\Users\RONNIE\Desktop\" />-->
    <add key="ServicesFilePath" value="C:\AppZone\Platform_Solutions\BlendMiddleware\" />
    <!--<add key="FileName" value="services.txt" />-->
    <add key="FileName" value="ServicesConfig.txt" />
    <add key="DemoMode" value="true" />
    <add key="EnableRemoteLogger" value="True" />
    <add key="LoggerUrl" value="http://10.0.41.102:818/ibsservices.asmx" />
    <add key="ServiceTimeOut" value="60" />
    <!--Implementation Bank Settings-->
    <add key="ImplementationBank" value="SterlingBank" />
    <!--MPass Settings-->
    <add key="MPassRegisterUserInDemoMode" value="true" />
    <add key="MPassRegisterUserAPI" value="http://173.204.228.252/blendmiddleware/api" />
    <add key="SterlingSpayURL" value="http://10.0.41.102:8067/api/Spay/" />
    <!--Tracing Settings-->
    <add key="IsTracingVerbose" value="true" />
    <add key="TraceLevel" value="Debug" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BanksPortBinding" />
        <binding name="BanksMiddleware_PE07EDC00" />
        <binding name="IBSServicesSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://154.113.16.142:9999/AccountValidation/validate" binding="basicHttpBinding" bindingConfiguration="BanksPortBinding" contract="ProvidusCBAMiddleware.IBanks" name="BanksPort" />
      <endpoint address="http://192.168.1.245:7001/BanksESB_PE07EDC00/BanksMiddleware_PE07EDC00Port" binding="basicHttpBinding" bindingConfiguration="BanksMiddleware_PE07EDC00" contract="ProvidusPostingService.BanksMiddleware_PE07EDC00" name="BanksMiddleware_PE07EDC00Port" />
      <endpoint address="http://10.0.41.102:818/ibsservices.asmx" binding="basicHttpBinding" bindingConfiguration="IBSServicesSoap" contract="SterlingIBService.IBSServicesSoap" name="IBSServicesSoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener,                        Microsoft.VisualBasic, Version=8.0.0.0,                        Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a,                        processorArchitecture=MSIL" initializeData="FileLogWriter" traceOutputOptions="DateTime" location="Custom" customLocation="C:\Log\TraceLog" logFileCreationSchedule="Daily" baseFileName="Blend_Trace" />
        <remove name="Default" />
      </listeners>
    </trace>
    <switches>
      <!--<add name="myListener" value="9"/>-->
    </switches>
  </system.diagnostics>
</configuration>